# -- Composer -----------------------------------------
/vendor/
composer.lock

# -- Bower --------------------------------------------
/bower_components/

# -- NPM ----------------------------------------------
/node_modules/
composer.lock

# -- Frontend -----------------------------------------
bower_components
node_modules
web/_/

# -- Editores -----------------------------------------
# vim
.*.sw[a-z]
*.un~
Session.vim
.netrwhist

# -- Eclipse ------------------------------------------
*.pydevproject
.project
.metadata
bin/**
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.buildpath

# -- phpstorm ----------------------------------------
.idea/

# -- textmate ----------------------------------------
*.tmproj
*.tmproject
tmtags

# -- Sublimetext -------------------------------------
/*.sublime-project
*.sublime-workspace

# -- Netbeans ----------------------------------------
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# -- Sistemas Operativos ------------------------------
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
.*
!.gitignore
!.htaccess
*~

# Mac OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes